*{
    margin: 0;
    padding: 0;
}
.ss_offer_allcat {
    padding: 40px 20px 20px 20px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 6px 16px 5px rgb(1 50 90 / 3%);
    box-shadow: 1px 6px 16px 5px rgb(1 50 90 / 3%);
}
.offer_images {
    height: 100px;
    width: 100px;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.offer_images img {
    width: 100%;
    padding: 5px;
    border: 1px solid #cecfd1;
}
img {
    vertical-align: middle;
    border-style: none;
}
.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}
.offer_text h2 {
    font-size: 16px;
    font-weight: 600;
}
.h2, h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.allDesc .more-text {
    display: none;
}
.tags_ss a {
    background: #1781d7;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;
}
.offer_icon>img {
    height: 60px;
}
.ss_button {
    position: absolute;
    top: 0;
    right: 0;
}
.ss_button_close {
    position: absolute;
    bottom: 0;
    right: 0;
}
.ss_button a {
    background: #1781d7;
    color: #fff;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    border-radius: 0 10px 0 20px;
}